fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
asyncpg
pgvector
openai
langchain
langchain-community
langchain-openai
langchain-text-splitters
tiktoken
pydantic
pydantic-settings
email-validator
requests
aiofiles
bcrypt==4.0.1
passlib==1.7.4
python-jose[cryptography]
pypdf
supabase
